<form  [formGroup] = "postForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label class="control-label" for="title" >Title</label>
      <input type="text" id="title" name="title" 
      required 
      autofocus
      formControlName="title"
      > 
      <div *ngIf="postForm.controls['title'].errors?.required">
        <small class="text-danger">
            <strong>Warning:</strong> "Full Name:" is required.
        </small>
      </div>
    
    </div>
  
    <div class="form-group">
      <label class="control-label" for="post">Contents</label>
      <textarea id="post" name="post" 
      required
      formControlName="post"
      ></textarea>
    </div>
      
    <div class="form-group">
      <label class="control-label" for="postBy">Author</label>
      <input type="text" id="postBy" name="postBy" 
      required
      formControlName="postBy"
      > 
    </div>
  
    <div class="form-group">
      <label class="control-label" for="category">Category</label>
      <select id="category" name="category"
      formControlName="category"
      >
        <option>Action</option>
        <option>Comedy</option>
        <option>Documentary</option>
        <option>News</option>
      </select>
    </div>
  
  
    <button class="btn btn-primary" type="submit" id="submit" name="submit">Create</button>
  
  </form>

  <div id="error" *ngIf="!postForm.valid && postForm.dirty">
      <p *ngIf="postForm.controls['title'].invalid">Title is required</p>
      <p *ngIf="postForm.controls['post'].invalid">Post is required</p>
      <p *ngIf="postForm.controls['postBy'].invalid">Author is required</p>

  </div>

 
